// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- $desktop
- $laptop
- $tablet
- $mobile

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin screen($size) {
  $desktop: "(min-width:  112.5em)"; // 1800
  $laptop: "(max-width: 75em)"; // 1200
  $tablet: "(max-width: 57.25em)"; // 900
  $mobile: "(max-width: 37.5em)"; //600
  @if $size == desktop {
    @media only screen and #{$desktop} {
      @content;
    }
  } @else if $size == laptop {
    @media only screen and #{$laptop} {
      @content;
    }
  } @else if $size == tablet {
    @media only screen and #{$tablet} {
      @content;
    }
  } @else if $size == mobile {
    @media only screen and #{$mobile} {
      @content;
    }
  } @else {
    @media only screen and #{$size} {
      @content;
    }
  }
}
