@font-face {
  font-family: Heebo-Regular;
  src: url("../fonts/Heebo-Regular.ttf");
}
@font-face {
  font-family: Heebo-Light;
  src: url("../fonts/Heebo-Light.ttf");
}
@font-face {
  font-family: Heebo-ExtraLight;
  src: url("../fonts/Heebo-ExtraLight.ttf");
}

@font-face {
  font-family: Heebo-Medium;
  src: url("../fonts/Heebo-Medium.ttf");
}
@font-face {
  font-family: Heebo-Semibold;
  src: url("../fonts/Heebo-Semibold.ttf");
}
@font-face {
  font-family: Heebo-Bold;
  src: url("../fonts/Heebo-Bold.ttf");
}
@font-face {
  font-family: Heebo-ExtraBold;
  src: url("../fonts/Heebo-ExtraBold.ttf");
}
